{
  "extends": ["triple/svelte"],
  "env": {
    "browser": true,
    "node": true,
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "rules": {
        "@typescript-eslint/no-unnecessary-condition": "off",
      },
    },
  ],
}
